:root {
  --primary-color: #7346f3;
  --primary_alpha: rgba(115, 70, 243, 0.5);
}
.ant-row {
  width: 100%;
}
.ant-spin-dot-item {
  background-color: var(--primary-color) !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:hover,
.ant-select-selector:focus,
.ant-select-open .ant-select-selector {
  border-color: var(--primary-color) !important;

  box-shadow: none !important;
}

.ant-select-selection {
  background-color: transparent;
}
.ant-select-item-option-active {
  background-color: var(--primary_alpha) !important;
}
.ant-select-item-option-active::selection {
  background-color: var(--primary_alpha) !important;
}
.ant-select-item-option-active:hover {
  background-color: var(--primary_alpha) !important;
}
.custom-option.ant-select-item-option-active:not(
    .ant-select-item-option-disabled
  ) {
  background-color: var(--primary_alpha) !important;
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--primary_alpha) !important;
}
.ant-menu-item-active::after {
  border-bottom-color: var(--primary-color) !important;
}
.ant-menu-item:hover::after {
  border-bottom-color: var(--primary_alpha) !important;
}
.ant-menu-item-selected {
  color: var(--primary-color) !important;
}
